
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>Scrabble Result</title>
    </head>
    <body>
        <div class="container">
            <h2>Scrabble Result</h2>

                <h3> {{ result }} </h3>

            <form action="/">
                <button type="submit">Go Back</button>
            </form>

        </div>
    </body>
</html>
